<div class="text-center">
  <h2>{{title}}</h2>

  <p>{{contents}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}} </p>

  <button type="button" class="comment">Add a comment.</button>

  {{! add form for comments }}
  {{!-- {{#if comment}}
    <form class="form">
      <label for="newComment">Type your comment</label>
      <input type="text" />
    </form>
    |
    <button class="comment" id="newComment">Post</button>
  {{/if}} --}}

  <p>
  </p>
</div>